:root {
  --header-color: #212121;
  --header-link-color: #2196f3;
  --text-color: #757575;
  --hov-foc: #2196f3;
}
body {
  font-family: Roboto, Tahoma, sans-serif;
}
p,
h1,
h2,
h3 {
  margin: 0;
}
ul {
  margin-left: 0;
  padding: 0;
}
img {
  display: block;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.container {
  width: 1200px;
  margin-left: 15px;
  margin-right: 15px;
  margin: 0 auto;
}
.header {
  background-color: #ffffff;
  padding-left: 215px;
  padding-top: 24px;
  padding-bottom: 25px;
}
.header .container {
  display: flex;
  align-items: center;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.header-logo-web {
  color: #2196f3;
}
.header-logo-studio {
  color: #000000;
}

.header-list {
  display: flex;
}
.header-link {
  margin-right: 50px;
}

.header-contacts-list {
  display: flex;
  margin-left: auto;
}
.header-contacts-icon{
  width: 16px;
  height: 12px;
  fill: #757575;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.header-link:hover {
  color: var(--header-link-color);
}
.header-link:focus {
  color: var(--header-link-color);
}
.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin-right: 50px;
}
.header-mail:hover {
  color: #2196f3;
}
.header-mail:focus {
  color: #2196f3;
}
.header-phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.header-phone:hover {
  color: var(--hov-foc);
}
.header-phone:focus {
  color: var(--hov-foc);
}
.hero {
  background: #2f303a;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 280px;
}
.hero-text {
  width: 696px;
  height: 120px;
  margin: 0 auto;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  background: #2f303a;
}
.hero-button {
  width: 200px;
  margin: 0 auto;
}
.hero-btn {
  background: #2196f3;
  cursor: pointer;
  width: 200px;
  padding: 10px 0;
  border: 0px;
}
.hero-btn-text {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
  text-align: center;
}
.hero-btn:hover {
  background: #188ce8;
}
.hero-btn:focus {
  background: #188ce8;
}
.about-list {
  display: flex;
  justify-self: space-evenly;
  padding: 94px 215px;
}
.about-box-svg{
  background-color: #F5F4FA;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  padding: 25px 100px;
  margin-bottom: 30px;
  cursor: pointer;
}
.about-item:not(:last-child) {
  margin-right: 30px;
}
.about-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-color);
  padding-bottom: 10px;
}
.about-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
  padding-bottom: 94px;
}
.hiw-list {
  display: flex;
  justify-content: center;
  margin-bottom: 94px;
}
.hiw-item:not(:last-child) {
  margin-right: 30px;
}
.hiw-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  padding-bottom: 50px;
}
.comand {
  background: #f5f4fa;
}
.comand-list {
  display: flex;
  justify-content: center;

  margin-block-end: 0px;
}
.comand-item:not(:last-child) {
  margin-right: 30px;
}
.comand-item {
  background-color: #ffffff;
  margin-bottom: 94px;
}
.comand-top-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  padding-top: 94px;
  padding-bottom: 50px;
}
.comand-img {
  padding-bottom: 30px;
}
.comand-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  padding-bottom: 10px;
}
.comand-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  padding-bottom: 30px;
}
.comand-block{
  display: flex;
  margin: 32px 16px 32px 30px;
}
.comand-icon{
  
  height: 44px;
  width: 44px;
  fill: #AFB1B8;
  border-radius: 50%;
  cursor: pointer;
  outline: 1px solid #000;
  }
  .comand-icon:not(:last-child) {
    margin-right: 10px;
  }
  .comand-icon-link{
    fill: #AFB1B8;
    display: block;
    margin: 12px;
  }
  .comand-icon:hover {
    background-color:  #2196F3;
    fill: #ffffff;
  }
  .comand-icon:focus {
    background-color:  #2196F3;
    fill: #ffffff;
  }

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.footer-logo-web {
  color: #2196f3;
}
.footer-logo-studio {
  color: #ffffff;
}
.footer-map {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-map:hover {
  color: #2196f3;
}
.footer-map:focus {
  color: var(--hov-foc);
}
.footer-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-mail:hover {
  color: var(--hov-foc);
}
.footer-mail:focus {
  color: var(--hov-foc);
}
.footer-phone {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-phone:hover {
  color: var(--hov-foc);
}
.footer-phone:focus {
  color: var(--hov-foc);
}
.is-hidden {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}
.active {
  color: var(--hov-foc);
}
.herop {
  background-color: #ffffff;
}
.herop-list {
  display: flex;
  justify-content: center;
}
.herop-button-item:not(:last-child) {
  margin-right: 8px;
}
.herop-button {
  cursor: pointer;

  width: 145px;
  border-radius: 4px;
  border-style: none;
  align-items: center;
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 0;
}
.herop-button:hover {
  background-color: var(--hov-foc);
  color: #ffffff;
}
.herop-button:focus {
  background-color: var(--hov-foc);
  color: #ffffff;
}
.hero-portfolio {
  margin-bottom: 94px;
  background: ffffff;
}
.hero-portfolio-list {
  display: flex;
  flex-wrap: wrap;
}
.hero-portfolio-item {
  padding-right: 30px;
  padding-bottom: 30px;
  border: 1px #eeeeee;
}

.hero-portfolio-header {
  color: var(--header-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-left: 24px;
}
.hero-portfolio-text {
  color: var(--text-color);
  margin-left: 24px;
}
